body {
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  height: 100vh;
}

h1.logo {
  font-size: 2rem;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: all .2s;
}

nav.nav-desktop div.section-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav.nav-destkop div.section-list a {
  color: grey;
  font-size: 1rem;
}

i.close-menu {
  display: none;
}


i.close-menu:hover {
  cursor: pointer;
}

i.open-menu:hover {
  cursor: pointer;
}

/* fluid nav */
.fluid-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  transition: all .2s;
}

.fluid-nav h1.logo {
  color: whitesmoke;
}
.fluid-nav img, .fluid-nav i {
  filter: invert();
}

.nav-desktop.fluid-nav a,
.nav-desktop.fluid-nav div.section-list a {
  color: whitesmoke;
}

.nav-desktop.fluid-nav div.section-list li.sub-itens {
  background: black;
}

.hidden {
  display: none !important;
}

/* Newsletter email */
div.mail {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  width: 40vw;
  padding: 2rem;
  right: 1rem;
  bottom: 5vh;
  background: whitesmoke;
  box-shadow: 0px 2px 5px -1px grey;
}

div.mail span.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-weight: bold;
  color: red;
}

div.mail span.close:hover {
  cursor: pointer;
}

div.mail form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

div.mail img {
  height: 5vh;
  width: 5vw;
}

div.mail input {
  width: 100%;
  padding: 5% 0;
  text-align: center;
  border: 1px solid #e3e3e3;
}

::placeholder {
  text-align: center;
}

div.mail button {
  width: 100%;
  border: none;
  background: dodgerblue;
  color: white;
  padding: 5%;
  margin: 1rem 0;
}



/* Newsletter email end */


/* mobile */
@media screen and (max-width: 600px) {
  nav.nav-desktop {
    display: none;
  }
  nav.nav-mobile {
    display: flex;
  }

  nav.nav-mobile .section-list li.sub-itens a:hover {
    color: white;
    transform: translateX(10px);
    transition: all .2s;
  }

  nav.nav-mobile .section-list li.sub-itens a {
    font-size: 1.3rem !important;
    margin: 1rem 0 0 1rem;
    transform: translateX(0);
    transition: all .2s;
  }
  nav.nav-mobile .section-list li {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: 20vh;
    width: 50vw;
  }

  .arrow {
    width: 1rem;
    height: 1rem;
    filter: invert(1);
    margin: 0 1rem;
    transform: rotateX(180deg);
  }
  

  div.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 80%);
    z-index: 997;
  }

  nav.nav-mobile div.section-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    background: black;
    z-index: 998;
    padding: 0 2rem;
    transform: translatex(-100rem);
    transition: all .5s;
  }

  nav.nav-mobile div.section-list a {
    font-size: 1.5rem;
    color: white;
    transform: translateX(0);
    transition: all .2s;
  }

  nav.nav-mobile div.section-list a:hover,
  nav.nav-mobile div.section-list a:active {
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
    transform: translateX(10px);
  }

  i.close-menu {
    background-image: url(./images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vh 5vw;
    height: 5vh;
    width: 5vw;
    z-index: 999;
    position: fixed;
    filter: invert();
    right: 0;
    top: 1vh;
    margin: 1rem;
  }

  i.open-menu {
    background-image: url(./images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vh 5vw;
    height: 5vh;
    width: 5vw;
  }
}

/* desktop */
@media screen and (min-width: 601px) {
  nav.nav-desktop {
    display: flex;
  }

  nav.nav-desktop div.section-list a {
    margin-left: 2rem;
  }

  nav.nav-desktop div.section-list a:hover {
    cursor: pointer;
  }

  nav.nav-desktop li.sub-itens {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    position: absolute;
    box-shadow: 0px 2px 5px -1px grey;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
    z-index: 999;
  }

  nav.nav-desktop li.sub-itens a {
    margin: 1rem;
    transition: all .3s;
    transform: translateY(0);
  }

  nav.nav-desktop li.sub-itens a:hover {
    cursor: pointer;
    transition: all .2s;
    transform: translateX(10px);
  }

  .arrow {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    transform: rotateX(180deg);
  }
  
  .sub-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  nav.nav-mobile {
    display: none;
  }
}